body {
    font-family: Arial, sans-serif;
    background-color: #b2a820;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #f4f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #aa1a70;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #2889a7;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #10c83b;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

li button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ef0855;
}

li button:hover {
    color: #9f1422;
}

li .edit-btn {
    color: #4a09e2;
}

li .edit-btn:hover {
    color: #e0a800;
}